:root {
    --primary-color: #1b6fab;
    --secondary-color: #FFC72C;
    --accent-color: #CF142B;
    --card-bg-color: #FFC72C;
    --card-text-color: #002664;
    --footer-bg-color: #1b6fab;
}

@media (min-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    header, footer {
        height: 15vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--footer-bg-color);
        color: white;
    }

    main {
        flex: 1;
        position: relative;
        height: 60vh; 
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; 
    }

    img {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .card-1, .card-2 {
        background-color: var(--card-bg-color);
        color: var(--card-text-color);
        border-left: 5px solid var(--accent-color);
        border-radius: 10px;
        padding: 0.2rem;
        width: 20%;
        max-width: 300px;
        text-align: left!important;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        position: absolute!important;
        z-index: 2;
    }

    .card-1 {
        top: 10%;
        left: 5%;
    }

    .card-2 {
        bottom: 10%;
        right: 5%;
        display: flex;
        flex-direction: column;
    }

    .card-1 h4, .card-2 h4 {
        background-color: var(--card-text-color);
        color: white;
        padding: 0.5rem;
        border-radius: 5px;
        text-align: center;
    }

    .card-1 p, .card-2 p {
        font-size: 0.8rem!important;
        margin: 0.5rem 0;
        line-height: 1.4;
    }

    .card-2 img {
        width: 30px; 
        height: 30px;
    }

    .card-2 img:hover {
        transform: rotate(360deg); 
        filter: brightness(1.2); 
    }

    .card-2::after {
        content: "";
        position: absolute;
        bottom: -20px; 
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 6px;
        background-color: var(--primary-color);
        border-radius: 10px; 
    }

    footer {
        display: flex;
        flex-direction: column;
    }
}
