* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #004466;
    color: white;
    padding: 10px;
}

main {
    background: white;
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* Este hace que main ocupe el espacio disponible */
}

p {
    font-size: 18px;
}

.button {
    display: inline-block;
    background-color: #FFA500;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
    
}

.button:hover {
    background-color: #e69500;
}

footer {
    margin-top: auto; /* Esto asegura que el footer esté siempre al fondo */
}