@media (min-width: 768px) {
    /* Menú en fila */
    nav {
        display: flex !important;  /* Asegúrate de que esté en display: flex */
        position: static !important;  /* Evita que esté en absolute */
        flex-direction: row !important;  /* En fila */
        justify-content: center !important;  /* Centrado */
        background: none !important;  /* Fondo transparente */
        margin-top: 0 !important;  /* Elimina margen superior */
    }

    nav a {
        padding: 10px 20px;
        display: inline-block;
    }

    #menu-button {
        display: none !important;  
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr) !important; /* Dos columnas en tabletas */
    }
}
@media (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr) !important; /* Tres columnas en pantallas grandes */
    }

    figure {
        padding: 15px;
    }

    figcaption {
        font-size: 1.1rem;
    }
}